<h1>Pokemons#index</h1>

 <% @pokemons.each do |pokemon|%>
  <%= link_to pokemon do %>
    <p><%= pokemon.name %> </p>
    <%end%>
  <%end%>


<aside id="pokemon-details-container" class="pokemon box">
  <h2>Pokemon Box</h2>
  <div id="pokemon details"> </div>
</aside>
